/* PRÁCTICA 2 STARTER: mejorar el layout y hacerlo responsive */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.site-header {
  padding: 1rem;
  text-align: center;
  background: #111;
  color: #fff;
}

.layout {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 2rem;
}

.media-card
{
  width: 100%;
  max-width: 100%;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(255,255,255,0.8);
  transition: transform 0.25s , box-shadow 0.25s, background 0.25s;
}

.media-card:hover
{
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(255,255,255,0.15);
  background: white;
}

audio,video 
{
  width: 100%;
  max-width: 100%;
}

.note
{
  font-size: 0.9rem;
  opacity: 0.85;
  margin-top: 0.8rem;
  line-height: 1.4;
}

@media(prefers-color-scheme: dark)
{
  body
  {
    background: green;
    color: whitesmoke;
  }
  .site-header
  {
    background: black;
  }

  .media-card
  {
    background:#454343;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  .media-card:hover
  {
    background: rgb(131, 127, 127);
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transform: translateY(-4px);
  }
}

@media (max-width:500px)
{
  .media-card
  {
    padding: 0.8rem;
  }
  h2
  {
    font-size: 1.2rem;
  }
}

/* TODO: añadir estilos con flex o grid, efecto hover, dark/light mode, etc. */
