.btn 
{
  padding: 10px 16px;
  background: #111827;
  color: #fff;
  border: 2px solid transparent; /* Borde invisible inicial */
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.3s ease; /* Animación suave */
}

.btn:hover 
{
  border-color: #38bdf8; /* Cambia el color al pasar el ratón (azul claro) */
}
